/* Universais ============= */
:root {
    --color-total-: #363f5f;   /* Criando uma variável de cor, usa ele com a função var() */
    --color-total2: #49aa26;
    --color-green: #3dd705;
    --red: #e92929;
}

* {
    padding: 0;               /* Tira o preenchimento interno das caixas */
    margin: 0;                /* Tira os espaços laterais dos componentes */
    box-sizing: border-box;   /* Faz com que a caixa seja medida por sua borda */
}

html {
    font-size: 93.75;         /* 15px = Esse vai ser o tamanho padrão para o mobile */
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.sr-only {                               /* Tricks em CSS para esconder um bloco, mantendo ele visível apenas para os leitores de tela */
    position: absolute;                  /* Joga o elemento em uma posição absoluta (que não aparenta estar na página) está encima de outra caixa*/
    width: 1px;                          /* Diminui a caixa do sr-only no mínimo do mínimo */
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;                    /* Decide o que acontecerá com o conteúdo que saiu da caixa, ou seja, a gente tornou a caixa tão pequena e o conteúdo tão grande que o overflow escondeu ele */  
    clip: rect(0 0 0 0);                 /* Cria um retângulo com as margens escritas dentro da função rect() */
    white-space: nowrap;                 /* O espaço branco no texto irá se transformar em uma linha só, fazendo ele ir reto infinitamente */
    border-width: 0px;                   /* Muda o tamanho da borda do elemento selecionado */
}

.container {                             /* Chamando a classe container para limitar a página */
    width: min(90vw, 800px);             /* Vai pegar o mínimo entre os 2 e usar o menor entre eles para definir a largura, se o menor for 90vw usa 90vw, se o menor for 800px usa 800px*/
    margin: auto;                        /* Vai deixar a margem lateral igual nos 2 lados do container */
}

/* Titles ============= */
h2 {
    margin-top: 3.2rem;                  /* Muda a margem de cima de todos os h2 */
    margin-bottom: 0.8rem;               /* Muda a margem debaixo de todos os h2 */                      
    color: #363f5f;                   
    font-weight: normal;                 /* Muda a grossura da fonte */
}

/*  Links e Buttons ============= */
a {
    color: var(--color-total2);
    text-decoration: none;               /* Tira o sublinhado do button */
}

a:hover {
    color: var(--color-green);
}

.button.new {
    display: inline-block;               /* O display do botão agora tem propriedades do display Inline e do Block */
    margin-bottom: 1.4rem;
}

button {
    width: 100%;
    height: 50px;

    color: white;
    background: var(--color-total2);

    padding: 0;

    border: none;
    border-radius: 0.25rem;

    cursor: pointer;                    /* Faz com que o cursor se transforme na mãozinha ao passar por cima */
}

button:hover {
    background: var(--color-green);
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* Header ============= */
header {
    background: #2d4a22;
    padding: 2rem 0 10rem;          /* Espaçamento interno do0 conteúdo da caixa */
    text-align: center;             /* Centralizando o texto */
}

#logo {                        /* Chamando a Id = Logo */
    color: #fff;
    font-weight: 100;          /* Grossura da fonte */
    margin-bottom: 2rem;

}

/* Balance ============= */
#balance {                      /* Chamando o h2 dentro da Id = Balance */
    margin-top: -8rem;          /* Tirando a margem de cima do h2 da Id = Balance */
    width: 100%;
    display: block;
}

#balance h2 {                     /* Chamando a Id = Balance */
    margin-top: 0;
    color: white;               /* Modificando a margem de cima da caixa */
}

/* Cards ============= */
.card {                         /* Chamando a Classe = Cards */
    background: white;
    padding: 1.5rem 2rem;       /* Separando os cards 1,5 encima e embaixo e 2 esquerda e direita*/
    border-radius: 0.30rem;     /* Arredondando as bordas */
    margin-bottom: 2rem;
    color: var(--color-total-); /* Usando a variável de cor criada no root */
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;                    /* Transforma o h3 em um display flex, dando maior controle para os elementos da */
    align-items: center;              /* Alinha o h3 com a imagem na mesma linha só funciona com display flex */ 
    justify-content: space-between;   /* Justifica a imagem e o texto h3 com um espaço entre eles */ 
}

.card p {
    font-size: 2rem;
    line-height: 3rem;            /* A separação que será feita caso ocorra quebra de linha (distância entre a linha de cima e a de baixo) */
    margin-top: 1rem;             /* Separando o p do h3 dos cards */
}

.card.total {                               /* Chamando o card que tem o valor total */
    background: var(--color-total2);        /* Mudando o background dele */
    color: white;                         /* Mudando a cor da fonte dele */
}

/* Modal ============= */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;                          /* Fixa a posição na tela em um local específico  */
    top: 0;                                   /* Escolhe a posição para fixar a caixa no topo da página */

    display: flex;  
    align-items: center;                      /* Alinha o modal no centro do overlay */
    justify-content: center;                  /* Justifica o modal no centro do overlay, assim, ele fica no meio da página */

    opacity: 0; 
    visibility: hidden;                       /* Ficará escondida enquanto o script não chamar a class "active" */

    z-index: 999;
}

.modal-overlay.active {                       /* Só vai aplicar isso quando a classe active estiver ativa, será feito por JS */
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    z-index: 999;                             /* Muda a ordem de empilhamento dos itens, jogando o que tem maior z-index lá pra cima e o de menor lá pra baixo (Só é possível usar quando temos uma position definida) */
}

/* Form ============= */
#form {
    max-width: 500px;                       /* Largura máxima do formulário dentro do modal */
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    
    padding: 0.8rem;

    width: 100%;
    font-family: "Poppins", sans-serif;
}
.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.6;
}

.input-group.actions {                          /* Justificando e alinhando os botões */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button,                    /* Mexendo nos botões = Selecionando o .button e o button */
.input-group.actions button {
    width: 48%;
}

/* Table ============= */
#transactions {
    width: 100%;                         /* Significa que a tabela irá usar 100% do espaço existente no container que ela está */
    overflow-x: auto;
    display: block;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;            /* Tira a borda da tabela em questão (separa com eixo vertical e horizontal - precisa de 2 valores) */
    color: #969cb3;
}

table thead tr th:first-child,           /* Vai no cabeçalho da table e chama o primeiro th de tr */
table tbody tr td:first-child {          /* Vai no corpo da table e chama o primeiro td de tr */
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,           /* Vai no cabeçalho da table e chama o último th de tr */
table tbody tr td:last-child {          /* Vai no corpo da table e chama o último td de tr */
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {                              /* cabecalho */
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;  
}

table tbody tr {                       /* Linhas */
    opacity: 0.7;                      /* Efeito de passar o mouse por cima e ele mudar de cor */
}

table tbody tr:hover {
    opacity: 1;                        /* Efeito de passar o mouse por cima e ele mudar de cor */
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--color-total-);
}

td.income {
    color: #12a454; 
}
td.expense {
    color: #e92929;
}

/* Footer ============= */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--color-total-);
    opacity: 0.6;
}

/* Responsive ============= */
@media (min-width: 800px) {       /* A partir do width de 800 ele irá ativar isso */
    html {
        font-size: 87.5%;         /* 14px */
    }
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);         /* fr = fração = é o tamanho das porções de cada pedaço da box (3 x 1fr) = o que tá escrito na função */
        gap: 2rem;
    }
}
